html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #111111;
    /*overflow-x: hidden;*/
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
    margin: 0px;
}

.container {
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

/*Botao*/

.botao {
    padding: 1.6rem 3.2rem;
    display: inline-block;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    font: 400 1.125rem/1.35 'Quicksand', sans-serif;
    ;
    font-family: 'Poppins';
    font-weight: 600;
    max-width: max-content;
}

/*Inicio*/
.inicio-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./img/background.png") no-repeat;
    background-size: cover;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 170px 0;
    min-height: 100vh;
    padding-bottom: 10rem;
    margin-bottom: 100px;
}

.inicio img {
    max-height: 50px;
    padding: 20px;
}

.inicio-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 500px;
    align-items: center;
}

.inicio-texto img {
    max-height: 150px;
}

.lgpd {
    color: #000fcf;
    text-decoration: underline;
}

.formulario {
    width: 250px;
    padding: 30px;
    color: #1e1e1e;
    background-color: #ffffff;
    border: 1px solid #1e1e1e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    border-radius: 6px;
}

.formulario p {
    width: 100%;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}

.field {
    width: 100%;
    margin: 15px 0;
}

.field-lgpd {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.field label,
.field span {
    padding-left: 10px;
    font-size: 1.5em;
    display: block;
    width: 100%;
}

.radiobox label {
    width: auto;
    display: inline-block;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid #1e1e1e;
    outline: none;
}

input#nao {
    margin-left: 30px;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit] {
    display: block;
    background-color: #1e1e1e;
    color: #ffffff;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    transition: 0.4s;
    border-radius: 6px;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #1e1e1e;
    border: 0.1rem solid #1e1e1e;
}

/*Descrição*/

.descricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.descricao-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.descricao-img img {
    width: 600px;
    object-fit: cover;
}

.descricao-img {
    display: flex;
    justify-content: center;
}

.descricao-conteudo-1 h2 {
    color: #01728c;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 4rem;
}

.descricao-conteudo-1 h4 {
    font-size: 1.5rem;
    padding: 7px;
    color: #004353;
    background: #d2f7ff;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 32px;
}

.descricao-conteudo-1 p {
    color: #000000;
    margin-bottom: 6px;
    font-size: 1.5rem;
}

#londrina {
    font-weight: bold;
}

.descricao-conteudo-2 {
    position: relative;
    margin-bottom: 100px;
    color: #212121;
}

.descricao-conteudo-2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descricao-conteudo-2 ul li h4 {
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 400;
    color: #004353;
}

.descricao-conteudo-2 ul li p {
    color: #212121;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.descricao-conteudo-2::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    background: #01728c;
    bottom: -50px;
    left: 0px;
}

.descricao-conteudo-3 h3 {
    font-size: 2rem;
    color: #484848;
    margin-bottom: 12px;
    font-weight: 600;
}

.descricao-conteudo-3 p {
    font-size: 1.9rem;
    color: #212121;
    line-height: 2rem;
    font-weight: 400;
}

/*Slides*/

.container-slider {
    padding-top: 500px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 350px;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
}

.slider {
    opacity: 0;
    transition: opacity .8s;
    position: absolute;
    width: 100%;
    border-radius: 4px;
}

.on {
    opacity: 1;
}

#prev-button,
#next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button {
    transform: rotate(180deg);
}

/*Slide 2*/

.container-slider {
    padding-top: 400px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-slider h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.4rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
}

.slider2 {
    opacity: 0;
    transition: opacity .8s;
    position: absolute;
    width: 100%;
    border-radius: 4px;
}

.on {
    opacity: 1;
}

#prev-button2,
#next-button2 {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button2 {
    transform: rotate(180deg);
}

/*Localização*/

.mapa-bg {
    background: #ececec;
}

.mapa {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.mapa h2 {
    font-size: 4rem;
    padding-top: 4rem;
    font-family: 'Quicksand', sans-serif;
}

.googlemaps {
    max-width: 100vw;
    height: 50rem;
    padding-bottom: 4rem;
}


/*Final*/

.final-bg {
    background: url("./img/fundo.jpg");
    background-size: cover;
    min-height: 100vh;
}

.final {
    padding: 20rem 0;
    justify-content: center;
    display: flex;
}

.final .formulario {
    width: 60rem;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer h4 {
    font-size: 2rem;
    padding: 2rem 0;
}


/*Responsivo*/


@media (max-width: 1200px) {
    .inicio-conteudo {
        gap: 100px;
    }

    .descricao-img img {
        width: 400px;
        object-fit: cover;
    }

    .googlemaps {
        height: 70rem;
    }
}

@media (max-width: 768px) {

    .inicio {
        gap: 0;
    }

    .inicio-conteudo {
        display: block;
    }

    .descricao {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .descricao-img {
        display: flex;
        justify-content: center;
    }

    .descricao-conteudo {
        margin-bottom: 200px;
    }

    .inicio-img {
        margin-bottom: 30px;
    }

    .formulario {
        margin-top: 60px;
    }

    .inicio-texto img {
        max-height: 120px;
    }

    .inicio-conteudo {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
    }

    .container-slider {
        padding-top: 0;
    }

    .container-slider h2 {
        font-size: 1.4rem;
    }

    .mapa {
        gap: 2rem;
    }

    .mapa h2 {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .googlemaps {
        height: 30rem;
    }
}

@media (max-width: 500px) {
    .container-slider {
        margin-bottom: 200px;
    }

    .googlemaps {
        height: 20rem;
    }

    .descricao-conteudo {
        margin-bottom: 200px;
    }

    #prev-button2,
    #next-button2,
    #prev-button,
    #next-button {
        width: 80px;
        height: 80px;
    }
}